<% provide(:title, "Edit Post") %>

<% if @current_user.id != @edit_post.user.id %>
  <h4 class="text-center mt-[80px]"> Wronge Page access </h4> 
<%else%>

<div class="signup-container mt-[80px] ">
  <h4 class="text-center">Edit Post</h4>
  <div class="card p-3 rounded mt-[20px]">
  <%= form_with url: "/post/#{@edit_post.id}", method: :put do |form| %>
    <div class="mb-3">
      <%= form.label :caption, "Caption" , class: "form-label" %>
      <%= form.text_field :caption , class: "form-control " , required:true , value:@edit_post.caption %>
    </div>
    <div class="mb-3">
      <%= form.label :body, "Body" , class: "form-label" %>
      <%= form.text_area :body , class: "form-control" ,size: "70x4" , value:@edit_post.body %>
    </div>

    <%= form.submit "Edit post" , class: "btn btn-primary" %>
  <% end %>
  </div>

</div>
<%end%>

