<% provide(:title, "User Page") %>
<div class="toast-container position-fixed">
  <% if @current_user.errors.any? %>
    <% @current_user.errors.full_messages.each do |message|%>
      <div>
        <h3> <%= message %> </h3>
      </div>
    <%end%>
  <%end%>
</div>

<div class='my-[50px] w-[40%] mx-auto '>
  <h4>Edit profile</h4>
  <%= form_with url: "/profile", method: :put do |form| %>
    <div class="mb-3">
      <%= form.label :first_name, "First Name" , class: "form-label" %>
      <%= form.text_field :first_name , class: "form-control " ,  value:@current_user.first_name %>
    </div>
    <div class="mb-3">
      <%= form.label :last_name, "Last Name" , class: "form-label" %>
      <%= form.text_field :last_name , class: "form-control " ,  value:@current_user.last_name %>
    </div>
    <div class="mb-3">
      <%= form.label :bio , "Bio" , class: "form-label" %>
      <%= form.text_area :bio , class: "form-control " ,  value:@current_user.bio , size: "70x2" %>
    </div>
    <div class="mb-3">
      <%= form.label :avatar, "Avatar" , class: "form-label" %>
      <%= form.file_field :avatar , class: "form-control" %>
    </div>
    <%= form.submit "Submit" , class: "btn btn-primary" %>
  <%end%>

    <%= form_with url: "/me", class: "mt-[50px]", method: :delete do |form| %>
      <%= form.submit "Delete My Account" , class: "btn btn-danger" %>
    <%end%>
</div>
