<% provide(:title, "User Page") %>
<div aria-live="polite" aria-atomic="true" class="relative">
  <div class="toast-container top-0 end-0 p-3">
    <% flash.each do |type , messages| %>
      <% if type == "error" %>
        <% messages.each do |msg| %>
          <div class="toast align-items-center text-bg-success border-0 show " data-bs-autohide="true" data-bs-delay="1000" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">
                <%= msg %>
              </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
        <%end%>
      <%end%>
    <%end%>
  </div>
</div>

<div class='my-[50px] w-[40%] mx-auto '>
  <h4>Edit profile</h4>
  <%= form_with url: "/profile", method: :put do |form| %>
    <div class="mb-3">
      <%= form.label :first_name, "First Name" , class: "form-label" %>
      <%= form.text_field :first_name , class: "form-control " ,  value:@current_user.first_name %>
    </div>
    <div class="mb-3">
      <%= form.label :last_name, "Last Name" , class: "form-label" %>
      <%= form.text_field :last_name , class: "form-control " ,  value:@current_user.last_name %>
    </div>
    <div class="mb-3">
      <%= form.label :bio , "Bio" , class: "form-label" %>
      <%= form.text_area :bio , class: "form-control " ,  value:@current_user.bio , size: "70x2" %>
    </div>
    <div class="mb-3">
      <%= form.label :avatar, "Avatar" , class: "form-label" %>
      <%= form.file_field :avatar , class: "form-control" %>
    </div>
    <%= form.submit "Submit" , class: "btn btn-primary" %>
  <%end%>

    <%= form_with url: "/me", class: "mt-[50px]", method: :delete do |form| %>
      <%= form.submit "Delete My Account" , class: "btn btn-danger" %>
    <%end%>
</div>
