<% provide(:title, "User Page") %>
<div class='my-[50px] w-[40%] mx-auto '>
  <%# <button onclick="log()"> Run </button> %>
  <div class='flex gap-4 items-center'>
    <%=image_tag("default_pic.png", alt: "profile picture" , class: ' w-[128px] rounded-full')%>
    <div>  
      <h4><%= @show_user.username  %></h4>
      <% if !@is_the_same_user %>
        <% if @request_sent %>
          <button disabled onclick=<%= "followUser('#{@show_user.username}')" %> class='btn btn-primary' >+ Follow</button>
        <%else%>
          <button onclick=<%= "followUser('#{@show_user.username}')" %> class='btn btn-primary' >+ Follow</button>
        <%end%>
      <%end%>
    </div>

  </div>
  <p> <%= @show_user.bio %></p>
  <div class='h-[2px] rounded-sm bg-black my-[20px] '></div>
  <div>
    <% if @is_the_same_user %>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="post-tab" data-bs-toggle="tab" data-bs-target="#posts-tab-panel" type="button" role="tab" aria-controls="posts-tab-pane" aria-selected="true">
            All Posts
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="archived-tab" data-bs-toggle="tab" data-bs-target="#archived-tab-panel" type="button" role="tab" aria-controls="archived-tab-pane" aria-selected="false">
            Archived
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="followrequest-tab" data-bs-toggle="tab" data-bs-target="#followrequest-tab-panel" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
            Follow requests
          </button>
        </li>
  
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="posts-tab-panel" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

          <% @posts.each do |post| %>
          <div class='shadow-md rounded-md p-3'>
            <h4><a href=<%= "/post/#{post.id}" %> class="text-black" ><%= post.caption %></a></h4>
            <p><%= post.body %></p>
            <div class="flex justify-between ">
                <div class=" flex gap-1">
                  <a href=<%= "/post/#{post.id}/edit"%> class='btn btn-secondary'>Like</a>
                  <a href=<%= "/post/#{post.id}/edit"%> class='btn btn-secondary'>Dislike</a>
                </div>
                <div class="flex gap-1">
                  <a href=<%= "/post/#{post.id}/edit"%> class='btn btn-secondary'>Edit</a>
                  <a href=<%= "/post/#{post.id}/edit"%> class='btn btn-danger'>Delete</a>
                </div>
            </div>
         </div>
        <%end%>


        </div>
        <div class="tab-pane fade" id="archived-tab-pane" role="tabpanel" aria-labelledby="archived-tab" tabindex="0">other</div>
        <div class="tab-pane fade" id="followrequest-tab-pane" role="tabpanel" aria-labelledby="followrequest-tab" tabindex="0">contact</div>
      </div>
      
      <%end%>
  </div>
</div>

<script>
  async function followUser(to){
    console.log("called ")
    try{
        const req = await fetch(`/follow/${to}`);
        if(req.status == 200 ){
          const data =  req.json();
          console.log(data , 'msg' in data && data.msg == "ok" );
          if( 'msg' in data && data.msg == "ok" ){
            alert("Add follow request");
            console.log("not called")
          }
        }

    }catch(err){
      console.log(err);

    }
  }
</script>
