<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a href="/home" class="navbar-brand">Flow</a>
      <%= form_with url: "/search", class: "mx-auto d-flex", method: :get do |form| %>
        <%= form.text_field :query , class: "form-control me-2" , placeholder: "Search" %>
        <%= form.submit "Search" , class: "btn btn-success" %>
      <%end%>
      <div class="flex gap-2 items-center">
        <% if @current_user %> 
          <a href="/post/new" class="nav-item btn btn-success"> + Create a Post  </a>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle !flex flex-row items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if @current_user.avatar.attached? %>
                <%=image_tag(@current_user.avatar, alt: "profile picture" , class: ' w-[40px] h-[40px] rounded-full')%>
              <%else%>
                <%=image_tag('default_pic.png', alt: "profile picture" , class: ' w-[40px] h-[40px] rounded-full')%>
              <%end%>
            </a>
            <ul class="dropdown-menu -translate-x-32">
              <li><a class='dropdown-item ' href='/post'>My Profile </a></li>
              <li><a class='dropdown-item ' href='/logout'>Logout </a></li>
             
            </ul>
          </li>

      <%end%>
      </div>
      
    </div>

  </nav>
    <%= yield %>
  </body>
</html>
